* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background: #001014;
    background-size: 270%; 
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.button {
    margin-top: 25px;
}

.button a {
    color: white;
}

.login {
    max-width: 600px;
    margin-top: 1cm;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 45px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login label {
    margin-bottom: 10px; 
}

.login input[type="text"],
.login input[type="password"] {
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.login button {
    padding: 10px 20px; 
    background-color: #39007a;
    border: none; 
    border-radius: 20px; 
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.login button:hover {
    background-color: #8a008f;
    transition: 0.4s;
}

label {
    color: white;
    font-size: 15px;
    text-align: center;
}

img {
    width: 1.3cm;
}